/* Your styles here */
.modal-open {
    overflow: scroll !important;
}

.ui-datepicker{
    z-index:1151 !important;
}

.map-dashboard{
    visibility: visible;
}

.select-control{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    overflow: visible;
    height: 0;
    color: white;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EEEEEE !important;
    border: 1px solid #ccc;
    border-radius: 20%;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

select:hover([multiple]) {
    border-color: red;
}


@media screen and (max-width: 600px) {
    .map-dashboard {
        transform:rotate(90deg);
        width: 150%;
    }
}